# Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

# Import all Google Trends and CDC Data

In [4]:
prevent_flu = pd.read_csv('terms/2019/prevent_flu.csv')
flu_2019 = pd.read_csv('terms/2019/flu19.csv')
common_cold = pd.read_csv('terms/2019/common_cold.csv')
oseltamivir = pd.read_csv('terms/2019/oseltamivir.csv')
cough = pd.read_csv('terms/2019/cough.csv')
gripe = pd.read_csv('terms/2019/gripe.csv')
influenza = pd.read_csv('terms/2019/influenza.csv')
vaccine = pd.read_csv('terms/2019/vaccine.csv')
flu_symptoms = pd.read_csv('terms/2019/flu_symptoms.csv')

# cdc data
#data_cdc = pd.read_csv('CDCDat/Clinical_Labs.csv')
data_ = pd.read_csv('CDCDat/prior_to_2015_16.csv')

# Rename All Columns

In [5]:
flu_2019=flu_2019.rename(columns={'flu: (United States)':'pop searches'})
common_cold = common_cold.rename(columns={'Common cold: (United States)':'pop searches'})
oseltamivir = oseltamivir.rename(columns={'Oseltamivir: (United States)':'pop searches'})
prevent_flu = prevent_flu.rename(columns={'prevent flu: (United States)':'pop searches'})
cough = cough.rename(columns={'cough: (United States)':'pop searches'})
gripe = gripe.rename(columns={'gripe: (United States)':'pop searches'})
influenza = influenza.rename(columns={'influenza: (United States)':'pop searches'})
vaccine = vaccine.rename(columns={'vaccine: (United States)':'pop searches'})
flu_symptoms = flu_symptoms.rename(columns={'flu_symptoms: (United States)':'pop searches'})

In [6]:
################ GETTING LENGTH OF DATA #################
print(len(flu_2019))
print(len(prevent_flu))
print(len(common_cold))
print(len(oseltamivir))
print(len(cough))
print(len(gripe))
print(len(influenza))
print(len(vaccine))
print(len(flu_symptoms))
print(len(data_))

26
809
809
809
809
809
809
809
809
627

In [7]:
tempo = data_cdc['PERCENT POSITIVE']
temp = np.array(tempo)
data_cdc = data_cdc.drop(['PERCENT POSITIVE'],axis=1)
print(data_cdc.insert(5,'l',pd.Series(temp)))
data_cdc = data_cdc.rename(columns={'l':'PERCENT POSITIVE'})
data_cdc

NameError: name 'data_cdc' is not defined

In [8]:
a = pd.Series(data_['A (2009 H1N1)']+data_['A (H1)']+data_['A (H3)']+data_['A (Subtyping not Performed)']+data_['A (Unable to Subtype)'])

In [9]:
data_.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,A (2009 H1N1),A (H1),A (H3),A (Subtyping not Performed),A (Unable to Subtype),B,H3N2v
0,National,X,2003,40,1430,1.53846,0,0,2,19,0,1,0
1,National,X,2003,41,1682,4.57788,0,0,3,74,0,0,0
2,National,X,2003,42,2176,11.62680,0,0,17,235,0,1,0
3,National,X,2003,43,2568,17.83490,0,0,56,398,0,4,0
4,National,X,2003,44,2753,19.43330,0,0,100,435,0,0,0

In [213]:
a = np.array(a)
data_.insert(6,'l',pd.Series(a))

In [214]:
data_ = data_.rename(columns={'l':'TOTAL A'})
data_ = data_.drop(['A (2009 H1N1)','A (H1)','A (H3)','A (Subtyping not Performed)','A (Unable to Subtype)'],axis=1)
data_

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,B,H3N2v
0,National,X,2003,40,1430,1.538460,21,1,0
1,National,X,2003,41,1682,4.577880,77,0,0
2,National,X,2003,42,2176,11.626800,252,1,0
3,National,X,2003,43,2568,17.834900,454,4,0
4,National,X,2003,44,2753,19.433300,535,0,0
5,National,X,2003,45,3553,24.261200,859,3,0
6,National,X,2003,46,4595,28.095800,1289,2,0
7,National,X,2003,47,5942,33.120200,1960,8,0
8,National,X,2003,48,6479,34.743000,2241,10,0
9,National,X,2003,49,9598,34.059200,3237,32,0
10,National,X,2003,50,12422,32.925500,4061,29,0
11,National,X,2003,51,11783,30.798600,3609,20,0
12,National,X,2003,52,9748,24.733300,2395,16,0
13,National,X,2003,53,8461,20.104000,1689,12,0
14,National,X,2004,1,6936,12.427900,853,9,0
15,National,X,2004,2,5411,9.332840,500,5,0
16,National,X,2004,3,4329,6.006010,257,3,0
17,National,X,2004,4,4166,3.984640,163,3,0
18,National,X,2004,5,3661,2.922700,105,2,0
19,National,X,2004,6,3530,1.841360,60,5,0
20,National,X,2004,7,3136,1.785710,48,8,0
21,National,X,2004,8,2559,1.484960,26,12,0
22,National,X,2004,9,2651,0.678989,10,8,0
23,National,X,2004,10,2369,0.590967,8,6,0
24,National,X,2004,11,2239,0.580616,11,2,0
25,National,X,2004,12,1801,1.332590,9,15,0
26,National,X,2004,13,1850,0.918919,8,9,0
27,National,X,2004,14,1778,0.506187,1,8,0
28,National,X,2004,15,1564,0.959079,3,12,0
29,National,X,2004,16,1449,1.656310,13,11,0
...,...,...,...,...,...,...,...,...,...
597,National,X,2015,10,19845,12.733700,871,1656,0
598,National,X,2015,11,18419,11.993100,644,1565,0
599,National,X,2015,12,16980,11.248500,431,1479,0
600,National,X,2015,13,15125,11.028100,291,1377,0
601,National,X,2015,14,14743,9.997970,202,1272,0
602,National,X,2015,15,13389,8.417360,158,969,0
603,National,X,2015,16,11873,6.510570,90,683,0
604,National,X,2015,17,10770,5.663880,66,544,0
605,National,X,2015,18,9784,5.386350,33,494,0
606,National,X,2015,19,9188,4.179360,44,340,0
607,National,X,2015,20,8412,3.661440,41,267,0
608,National,X,2015,21,7748,2.916880,42,184,0
609,National,X,2015,22,6993,2.774200,42,152,0
610,National,X,2015,23,6725,2.646840,49,129,0
611,National,X,2015,24,6133,2.478400,74,78,0
612,National,X,2015,25,5558,2.177040,75,46,0
613,National,X,2015,26,5248,2.458080,96,33,0
614,National,X,2015,27,5260,1.882130,62,36,1
615,National,X,2015,28,5039,1.706690,49,37,0
616,National,X,2015,29,4811,1.517360,52,21,0
617,National,X,2015,30,4785,1.525600,64,9,0
618,National,X,2015,31,4790,1.941540,75,18,0
619,National,X,2015,32,4910,1.649690,67,14,0
620,National,X,2015,33,5170,1.895550,82,16,0
621,National,X,2015,34,5381,1.858390,80,20,0
622,National,X,2015,35,6115,2.273100,110,29,0
623,National,X,2015,36,6786,2.180960,110,38,0
624,National,X,2015,37,7694,2.573430,151,47,0
625,National,X,2015,38,8855,1.885940,121,46,0
626,National,X,2015,39,9876,2.045360,143,59,0

In [215]:
data_=data_.rename(columns={'B':'TOTAL B'})
data_=data_.drop(['H3N2v'],axis=1)

In [217]:
data_.to_csv('2003-2015dat.csv')

In [175]:
data_cdc=data_cdc.drop(['PERCENT POSITIVE'],axis=1)

In [219]:
data_cdc.to_csv('')

In [224]:
data_cdc.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,TOTAL B,PERCENT A,PERCENT B
0,National,X,2015,40,12029,1.05578,84,43,0.698312,0.357469
1,National,X,2015,41,13111,1.29662,116,54,0.884753,0.411868
2,National,X,2015,42,13441,1.10855,97,52,0.721672,0.386876
3,National,X,2015,43,13537,1.10807,98,52,0.723942,0.384132
4,National,X,2015,44,14687,1.12344,97,68,0.660448,0.462994

In [225]:
data_.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,PERCENT POSITIVE,TOTAL A,TOTAL B
0,National,X,2003,40,1430,1.53846,21,1
1,National,X,2003,41,1682,4.57788,77,0
2,National,X,2003,42,2176,11.62680,252,1
3,National,X,2003,43,2568,17.83490,454,4
4,National,X,2003,44,2753,19.43330,535,0

In [220]:
weekly_prevdat.reset_index(drop=True,inplace=True)
z=weekly_prevdat.iloc[:,0]
arr=np.array([z])
for i in range(len(z)):
    z[i]=int(z[i])

NameError: name 'weekly_prevdat' is not defined

In [221]:
fidatacdc.reset_index(drop=True,inplace=True)

NameError: name 'fidatacdc' is not defined

In [222]:
plt.plot(x,y)
y=fidatacdc['PERCENT POSITIVE']
plt.plot(x,z)
plt.plot(x,y)
plt.title('Searches for \'prevent flu\',\'flu\' and Influenza cases 2004')
plt.legend(['search for \'flu\'','search for \'prevent flu\'','num cases'])

NameError: name 'x' is not defined

In [39]:
total_dat = pd.concat([weekly_flu_dat,fidatacdc],axis=1)

In [40]:
from sklearn.model_selection import train_test_split

data_train, data_val = train_test_split(total_dat, test_size = 0.20, random_state = 0)
y_train = data_train['PERCENT POSITIVE']
y_val = data_val['PERCENT POSITIVE']

In [41]:
X_train = data_train[[0]]
X_val = data_val[[0]]

X_train.head()

      0
104  14
141   9
4     6
74    2
136  14

In [49]:
from sklearn.linear_model import ElasticNet

clf = ElasticNet(random_state=0)
clf.fit(X_train, y_train)

from sklearn.metrics import auc

y_train = np.array(y_train).reshape(len(y_train))

y_train_predict = clf.predict(X_train).reshape(len(X_train))

train_rmse = np.sqrt(((y_train-y_train_predict)**2).mean())

train_deeta = {'true': y_train,"pred": y_train_predict,"error": abs(y_train-y_train_predict)}
print("Train RMSE:")
print(train_rmse)
train_compare = pd.DataFrame(train_deeta)



print("Train")
print(train_compare.head(10), "\n")

Train RMSE:
7.43845048453619
Train
        true      pred      error
0  11.718900  5.607458   6.111442
1   3.514060  6.244999   2.730939
2   2.922700  6.627523   3.704823
3   0.761421  7.137556   6.376135
4   1.392110  5.607458   4.215348
5   2.016920  6.244999   4.228079
6  14.659200  6.882540   7.776660
7  16.688000  6.244999  10.443001
8   0.174520  7.265065   7.090545
9   8.640100  5.862474   2.777626

In [ ]:
############## RUN ONLY ONCE - TESTING ################
y_test = np.array(y_val).reshape(len(y_val))
y_test_predict = clf.predict(X_val).reshape(len(X_val))
test_rmse = np.sqrt(((y_test-y_test_predict)**2).mean())
test_deeta = {"true": y_test,"pred": y_test_predict,"error": abs(y_test-y_test_predict)}
print("Test RMSE:")
print(test_rmse)
test_compare = pd.DataFrame(test_deeta)
print("Test")
print(test_compare.head(10))

In [44]:
############### NEURAL NET #################

In [293]:
import numpy, random, os
a = 1 #learning rate
bias = 1 #value of bias
weights = [random.random(),random.random(),random.random()] #weights generated in a list (3 weights in total for 2 neurons and the bias)
def Perceptron(input1, input2, output) :
    outputP= input1*weights[0]+input2*weights[1]+bias*weights[2]
    if outputP > 0 : #activation function (here Heaviside)
        outputP = 1
    else :
        outputP = 0
        error = output - outputP
        weights[0] += error * input1 * a
        weights[1] += error * input2 * a
        weights[2] += error * bias * a
for i in range(50) :
    Perceptron(1,1,1) #True or true
    Perceptron(1,0,1) #True or false
    Perceptron(0,1,1) #False or true
    Perceptron(0,0,0) #False or false
x = int(input())
y = int(input())
outputP = x*weights[0] + y*weights[1] + bias*weights[2]
if outputP > 0 : #activation function
    outputP = 1
else :
    outputP = 0
print(x, "or", y, "is : ", outputP)

10
10
10 or 10 is :  1

In [296]:
from numpy import exp, array, random, dot


class NeuralNetwork():
    def __init__(self):
        # Seed the random number generator, so it generates the same numbers
        # every time the program runs.
        random.seed(1)

        # We model a single neuron, with 3 input connections and 1 output connection.
        # We assign random weights to a 3 x 1 matrix, with values in the range -1 to 1
        # and mean 0.
        self.synaptic_weights = 2 * random.random((3, 1)) - 1

    # The Sigmoid function, which describes an S shaped curve.
    # We pass the weighted sum of the inputs through this function to
    # normalise them between 0 and 1.
    def __sigmoid(self, x):
        return 1 / (1 + exp(-x))

    # The derivative of the Sigmoid function.
    # This is the gradient of the Sigmoid curve.
    # It indicates how confident we are about the existing weight.
    def __sigmoid_derivative(self, x):
        return x * (1 - x)

    # We train the neural network through a process of trial and error.
    # Adjusting the synaptic weights each time.
    def train(self, training_set_inputs, training_set_outputs, number_of_training_iterations):
        for iteration in range(number_of_training_iterations):
            # Pass the training set through our neural network (a single neuron).
            output = self.think(training_set_inputs)

            # Calculate the error (The difference between the desired output
            # and the predicted output).
            error = training_set_outputs - output

            # Multiply the error by the input and again by the gradient of the Sigmoid curve.
            # This means less confident weights are adjusted more.
            # This means inputs, which are zero, do not cause changes to the weights.
            adjustment = dot(training_set_inputs.T, error * self.__sigmoid_derivative(output))

            # Adjust the weights.
            self.synaptic_weights += adjustment

    # The neural network thinks.
    def think(self, inputs):
        # Pass inputs through our neural network (our single neuron).
        return self.__sigmoid(dot(inputs, self.synaptic_weights))


if __name__ == "__main__":

    #Intialise a single neuron neural network.
    neural_network = NeuralNetwork()

    print ("Random starting synaptic weights: ")
    print (neural_network.synaptic_weights)

    # The training set. We have 4 examples, each consisting of 3 input values
    # and 1 output value.
    training_set_inputs = array([[0, 0, 1], [1, 1, 1], [1, 0, 1], [0, 1, 1]])
    training_set_outputs = array([[0, 1, 1, 0]]).T

    # Train the neural network using a training set.
    # Do it 10,000 times and make small adjustments each time.
    neural_network.train(training_set_inputs, training_set_outputs, 10000)

    print ("New synaptic weights after training: ")
    print (neural_network.synaptic_weights)

    # Test the neural network with a new situation.
    print( "Considering new situation [1, 0, 0] -> ?: ")
    print(neural_network.think(array([1, 0, 0])))

Random starting synaptic weights:
[[-0.16595599]
 [ 0.44064899]
 [-0.99977125]]
New synaptic weights after training:
[[ 9.67299303]
 [-0.2078435 ]
 [-4.62963669]]
Considering new situation [1, 0, 0] -> ?:
[0.99993704]

In [297]:
net = NeuralNetwork()

In [ ]:
net.train()